.w{
    width: 1200px;
    margin:0 auto;
}

p {
    font-size: 16px;
}

header {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url('../images/2.jpeg') ;
    background-repeat: no-repeat;
}

.shortcut {
    height: 50px;
    line-height: 50px;
    /* background-color: #010508; */
    background-color:rgba(1,5,8,0.4);
    text-align: center; 
    font-size: 15px;
    color: #fff;
}

.fl {
    float: left;
    margin-left: 100px;
}

.fl ul li{
    float: left;
    font-size: 25px;
}

.fl ul li img {
    display:block;
    width: 100px;
    height: 33px;
    margin: 8px 20px 3px 0;
}

.fr {
    float: right;
}

.fr ul li a{
    color: #fff;
}

.fr ul li {
    float: left;
    margin: 0 50px;
}

.shadow {
    background-color: gray;
    padding: 0 10px;
    border-radius: 5px;
    opacity: .8;
}

.Login {
    position: absolute;
    top: 100%;
    margin-top: -60px;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 3px 3px rgb(0 0 0 / 10%);
}

.login ul {
    margin-left: 30px;
}

.login ul li{
    float: left;
    margin: 55px 20px 0 0;
}

.login button {
    font-size: 18px;
    color: #fff;
    float: right;
    padding: 12px 55px;
    background-color: #2599EE;
    border-radius: 30px;
    margin: 80px 50px 0px 0;
}

.login ul li p{
    color: #333;
}

.login ul li input {
    background-color: #eee;
    height: 50px;
    border-radius: 10px;
    border:1px solid #eee;
    text-align: center;
    font-size: 16px;
}

#year .yearnum {
    width: 140px;
    color:#000;
    display: block;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    background-color: #eee;
    height: 50px;
    border-radius: 10px;
    border:1px solid #eee;
    /* border-bottom-left-radius: 0px; */
    /* border-bottom: 0px solid #eee; */
}

#year .yearnum:hover{
    background-color: #fff;
}

.schoolnum {
    width: 160px;
    color:#000;
    display: block;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    background-color: #eee;
    height: 50px;
    border-radius: 10px;
    border:1px solid #eee;
    /* border-bottom-left-radius: 0px; */
    /* border-bottom: 0px solid #eee; */
}

.schoolnum:hover{
    background-color: #fff;
}

.login ul li:nth-child(3) input{
    width: 200px;
}

.yearItems{
    position: absolute;
    width: 320px;
    top: 128px;
    left: 211px;
    background-color: #fff;
    border-radius: 0 10px 10px 10px;
    box-shadow: 0 3px 2px 1px rgb(0 0 0 / 10%);
    display: none; 
}

.yearItems ul{
    overflow: hidden;
    padding-top: 5px;
}

.yearItems ul li{
    overflow: hidden;
    padding: 30px 0 0 40px;
    line-height: 18px;
    font-size: 18px;
}

.yearItems ul li:last-child{
    padding-bottom: 30px;
}

.yearItems ul li a{
    display: inline-block;
    padding-right: 20px;
}

.currentyear {
    color: #000;
    font-weight: bold;
}

.school{
    display: none;
    position: absolute;
    width: 460px;
    height: 300px;
    top: 128px;
    left: 30px;
    z-index: 80;
    background-color: #fff;
    border-radius: 0 10px 10px 10px;
    box-shadow: 0 3px 2px 1px rgb(0 0 0 / 10%);
}

.school-th{
    min-height:250px;
    overflow-y:auto;
    max-height:300px;
    float: left;
    width: 120px;
}

.school-th ul li{
    line-height: 16px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

.school-td{
    min-height:250px;
    overflow-y:auto;
    max-height:300px;
}

.item{
    display: none;
}

.item:nth-child(1){
    display: block;
}

.item table{
    width: 300px;
}

.item table tr{
    line-height: 16px;
    font-size: 16px;
    padding: 10px;
    /* text-align: center; */
}

.item table tr td{
    padding:15px 3px 15px 15px;
} 

.currentschool{
    color: #000;
    font-weight: bold;
}

.messageWrong {
    position: absolute;
    top: 210px;
    width: 800px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    display: none;
}

.LoginRight{
    position: absolute;
    top: 100%;
    margin-top: -60px;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 100px;
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 2px 3px 3px rgb(0 0 0 / 10%);
    display: none;
}

.LoginRight div p{
    color: #000;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
}

.loginAgain{
    color: gray;
    float: right;
    margin: -25px 10px 0px 0px;
    background-color: none;
}

.messageRight{
    background-color: #A4FE8B;
    width: 800px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 10px;
}


.floor1 {
    margin: 200px 0 60px 0;
}

.floor1 h1 {
    margin: 40px 0 20px 0; 
}

.floor1 ul{
    overflow: hidden;
}

.floor1 ul li {
    float: left;
    width: 290px;
    height: 200px;
    margin-right: 10px;
}

.floor1 ul li img{
    width: 290px;
    /* height: 200px; */
}

.coursetypes h1{
    text-align: center;
    margin: 60px auto 40px;
}

.coursetypes ul{
    float: right;
}

.coursetypes ul li{
    font-size: 1.2em;
    float: left;
    padding: 20px;
    border-bottom: solid 1px #A8A8A8;
}

.coursetypes ul .thiscourse{
    color: #000;
    font-weight: 1000;
    border-bottom: solid 2px #000;
}

.coursecontent {
    /* overflow: hidden; */
    margin-top: 100px;
}

.coursecontent ul li {
    margin-bottom: 30px;
}

.coursecontent ul li img{
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-right: 20px;
    border-radius: 50%;
}

.coursecontent ul li div {
    padding: 10px 0;
}

.coursecontent ul li div p{
    padding: 7px 0;
}

.coursecontent ul li div item{
    color: #fff;
    padding: 3px 15px;
    border-radius: 5px;
}

.HTML item{
    background-color: #B4C2FF;
}

.CSS item{
    background-color: #366535;
}

.JavaScript item{
    background-color: #3D506E;
}

#course_3{
    float: left;
}

#course_3 item:nth-child(1){
    background-color: #B4C2FF;
}

#course_3 item:nth-child(2){
    background-color: #366535;
}

#course_3 item:nth-child(3){
    background-color: #3D506E;
}
footer{
    height: 200px;
    background-color: #ddd;
    margin-top: 100px;
}

.IFE {
    float: left;
    margin: 60px 0 0 0;
}

.IFE li{
    /* position: relative; */
    float: left;
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    margin-right: 20px;
}

.IFE li p{
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
}

footer .links {
    overflow: hidden;
    float: right;
    margin: 20px 0 0 0;
}

.links dl {
    float: left;
    margin-left: 100px;
}
.links dl dt{
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.links dl dd a {
    font-size: 12px;
    color: #333;
} 








